# Full reference https://github.com/foundry-rs/foundry/tree/master/crates/config

[profile.default]
  auto_detect_solc = false
  block_timestamp = 1_735_702_400 # January 1, 2025 at 00:00 GMT
  bytecode_hash = "none"
  evm_version = "paris"           # See https://www.evmdiff.com/features?name=PUSH0&kind=opcode
  fuzz = { runs = 1_000 }
  gas_reports = ["*"]
  libs = ["lib"]
  optimizer = true
  optimizer_runs = 10_000
  out = "out"
  script = "script"
  solc = "0.8.28"
  src = "src"
  test = "test"

[profile.ci]
  fuzz = { runs = 10_000 }
  verbosity = 4

[etherscan]
  hedera-testnet = { key = "${HEDERA_API_KEY}", url = "https://hashscan.io/testnet/api", chain = 296 }
  hedera-mainnet = { key = "${HEDERA_API_KEY}", url = "https://hashscan.io/mainnet/api", chain = 295 }

[fmt]
  bracket_spacing = true
  int_types = "long"
  line_length = 120
  multiline_func_header = "all"
  number_underscore = "thousands"
  quote_style = "double"
  tab_width = 4
  wrap_comments = true

[rpc_endpoints]
  hedera-testnet = "https://testnet.hashio.io/api"
  hedera-mainnet = "https://mainnet.hashio.io/api"
  localhost = "http://localhost:8545"